.Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    height: 30px;
    border: none;
    color:#fff;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.btn.btn-primary {
    background-color: lightskyblue;
}

.btn.btn-info {
    background-color: lightgreen;
}

.btn.btn-warning {
    background-color: lightsalmon;
}

.btn.btn-danger {
    background-color: orangered;
}