.btn {
    height: 30px;
    border: none;
    color:#fff;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.btn.btn-primary {
    background-color: lightskyblue;
}

.btn.btn-info {
    background-color: lightgreen;
}

.btn.btn-warning {
    background-color: lightsalmon;
}

.btn.btn-danger {
    background-color: orangered;
}

.btn.btn-main {
    background-color: cadetblue;
}

.title {
    font-weight: bold;
}

.input {
    text-align: right;
}

.input.input-form {
    height: 30px;
    border: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

hr {
    border: none;
    height: 4px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: rgb(165, 156, 144)
}

.view {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}